In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_excel('Printer_sheet_list.xlsx')

In [16]:
df.head()

,Machine,Part Name,Description,STOCK,LOCATION
0,Printer LID,Timing belt,"Timing belt, L430,w15,5M",NaN,NaN
1,Printer AOI,Timing belt,"Timing belt, L265,w15,5M",8.0,R-13/D
2,Printer,VACCUM PAD,"3M, AS PER DRAWING, FOR PRINTER PICKER",NaN,RACK-03/C
3,Printer,Quick release coupling,Quick release SS coupling 1/2 '' both end fema...,8.0,R-27/C
4,PRINTER,VFD,VFD-Delta-VFD2A8MS21ANSAA,2.0,R-27/B

In [17]:
df['LOCATION'].unique()

array([nan, 'R-13/D', 'RACK-03/C', 'R-27/C', 'R-27/B', 'R-27/D', 'AL-22',
       'R-13/C', 'R-27/A', 'R-03/B', 'R-16/B', 'AL-118', 'R-17/C',
       'R-1/A', 'R-14/A', 'R-26/C', 'Maintenance Back Side', 'R-18/A',
       'R-9/A', 'R-25/B', 'R-18/C', 'AL-291/Bottom', 'R-12/C', 'R-12/D',
       'R-14/C', 'AL-291', '16/A', 'AL/22', 'R-26/A'], dtype=object)

In [18]:
# Preprocess the columns
df['Machine'] = df['Machine'].str.strip().str.lower()
df['Part Name'] = df['Part Name'].str.strip().str.lower()
df['Description'] = df['Description'].str.strip().str.lower()

In [19]:
df.head()

,Machine,Part Name,Description,STOCK,LOCATION
0,printer lid,timing belt,"timing belt, l430,w15,5m",NaN,NaN
1,printer aoi,timing belt,"timing belt, l265,w15,5m",8.0,R-13/D
2,printer,vaccum pad,"3m, as per drawing, for printer picker",NaN,RACK-03/C
3,printer,quick release coupling,quick release ss coupling 1/2 '' both end fema...,8.0,R-27/C
4,printer,vfd,vfd-delta-vfd2a8ms21ansaa,2.0,R-27/B

In [20]:
df.shape

(306, 5)

In [21]:
df.to_csv("printer_sheet_15_04_25.csv", index=False)

In [22]:
filtered_df = df[df["Description"].str.contains("e3z", case=False, na=False)]
filtered_df

     Machine             Part Name Description  STOCK LOCATION
123  printer  photoelectric sensor     e3z-r61    4.0    R-1/A

In [24]:
filtered_df['Part Name'].str.replace(' ','')

123    photoelectricsensor
Name: Part Name, dtype: object